/* style */

body{
    margin:0;
    font-family: 'Roboto', sans-serif;
    background-color: #FA6600;
}
.menu{
    display: flex;
    justify-content: center;
}
.menu{
    background-color: #612701;
    justify-content: space-between;
    color:white;
    font-size: 18px;
}
.menu ul{
    display: flex;
    align-items: center;
}
.menu ul li{
    display: inline;
    text-decoration: none;
    list-style: none;
    margin-right: 20px;
}
.menu ul li a{
    display: inline;
    text-decoration: none;
    margin-top: 100px;
    color:white;
}
.menu ul li a:hover{
    color:red;
    font-size: 19px;
}
.conteudo{
    padding: 30px;
}
.conteudo aside{
    background-color: white;
    width: 100%;
    border-radius: 2px;
}
.conteudo aside .film{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.conteudo aside .film [class^="film-"]{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 33%;
    height: auto;
    
}
.conteudo aside .film [class^="film-"] figure{
    display: flex;
    flex-direction: column;
    height: auto;
    width: 245px;
    background-color: green;
}
footer{
    background-color: black;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer h3{
    color: white;
}